html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    padding: 16px; /* Perbesar padding */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 50px;
}

.left-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3em;
}

.logo {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: auto;
    gap: 0.5em;
    cursor: pointer;
}

.logo img {
    width: 60px; /* Perbesar ukuran logo */
    height: 60px; /* Perbesar ukuran logo */
}

.logo p {
    margin: auto;
    font-size: 30px; /* Perbesar ukuran teks logo */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #f1f1f1;
}

.nav-menu {
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1em;
}

.right-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.right-nav .log {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    margin: auto;
}

.log-item, .nav-menuitem {
    margin: auto;
    font-size: 20px; /* Perbesar ukuran teks navbar */
    color: white;
    padding: 8px 12px; /* Perbesar padding */
    border-radius: 7px;
    transition: 0.3s;
}

.log-item:hover, .nav-menuitem:hover {
    background-color: white;
    color: #111827;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111827;
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 6px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #111827;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover .nav-link {
    background-color: white;
    color: #111827;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: -70px;
}

/* Aturan Global untuk .description */
.description {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 500px;
    padding: 70px;
    border-radius: 20px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust alignment as needed */
    gap: 40px; /* Adjust gap between sections */
    padding-bottom: 2rem;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

/* CSS untuk section2 */
.section2 .description {
    background-color: #333; /* Warna latar belakang yang berbeda */
    border: 1px solid #666; /* Border yang berbeda */
    padding: 40px; /* Ubah padding */
    border-radius: 15px; /* Ubah border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
}

.section2 .description h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 28px; /* Ubah ukuran font */
    font-weight: bold; /* Tebalkan font */
    color: #fff; /* Ubah warna font */
}

.section2 .description img {
    align-items: center;
    width: 80%; /* Gambar lebar penuh */
    border-radius: 10px; /* Border radius untuk gambar */
    margin: 0 auto;
}

.section2 .description p {
    font-size: 18px; /* Ubah ukuran font */
    color: #ddd; /* Ubah warna font */
    line-height: 1.6; /* Ubah jarak antar baris */
    text-align: justify;
    padding-bottom: 1rem;
    margin-top: 5px;
}

.section2 .main-link {
    background-color: #007BFF; /* Warna latar belakang link utama */
    color: #fff; /* Warna teks link utama */
    padding: 12px 24px; /* Ubah padding */
    border-radius: 8px; /* Ubah border-radius */
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.section2 .main-link:hover {
    background-color: #0056b3; /* Warna saat hover */
}

/* CSS untuk section3 */
.section3 .description {
    background-color: #333; /* Warna latar belakang yang berbeda */
    border: 1px solid #666; /* Border yang berbeda */
    padding: 40px; /* Ubah padding */
    border-radius: 15px; /* Ubah border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
}

.section3 .description h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 28px; /* Ubah ukuran font */
    font-weight: bold; /* Tebalkan font */
    color: #fff; /* Ubah warna font */
}

.section3 .description img {
    align-items: center;
    width: 80%; /* Gambar lebar penuh */
    border-radius: 10px; /* Border radius untuk gambar */
    margin: 0 auto;
}

.section3 .description p {
    font-size: 18px; /* Ubah ukuran font */
    color: #ddd; /* Ubah warna font */
    line-height: 1.6; /* Ubah jarak antar baris */
    text-align: justify;
    padding-bottom: 1rem;
    margin-top: 5px;
}

.section3 .main-link {
    background-color: #007BFF; /* Warna latar belakang link utama */
    color: #fff; /* Warna teks link utama */
    padding: 12px 24px; /* Ubah padding */
    border-radius: 8px; /* Ubah border-radius */
    text-align: center;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.section3 .main-link:hover {
    background-color: #0056b3; /* Warna saat hover */
}



@media (prefers-reduced-motion: no-preference) {
    .description p {
        animation-name: slide-in;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-timeline: view();
        animation-range: 0% 60%;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main, .admin, .region {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main {
    flex-direction: column;
    justify-content: center;
    color: white;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

.fade-in-up {
    animation: fade-in-up 2s forwards;
}

#content {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-large {
    margin-left: 140px;
    width: 450px; 
    height: auto;
}

.text-content {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.site-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 50px; 
    font-weight: 600; 
    margin: 0;
}

.site-description {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    margin-right:150px;
    text-align: justify;
}
    
@keyframes scale-a-lil {
    from {
        scale: 0.5;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .description {
        animation: scale-a-lil linear both;
        animation-timeline: view();
        animation-range: 25vh 60vh;
        }
}

.admin {
    justify-content: end;
    padding-right: 50px;
}

.region {
    justify-content: start;
    padding-left: 50px;
}

.main-link {
    position: relative;
    background-color: #111827;
    width: 200px;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.main-link:hover {
    color: white;
    border-radius: 6px;
}

.main-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #4B5563;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}

.main-link:hover::before {
    border-radius: 6px;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.text-gray-300 {
    color: #e5e7eb; /* Light gray text */
}

.container {
    max-width: 1280px; /* Adjust as per your layout */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}

.py-4 {
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}